html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#ft{
	overflow: hidden;
	height: 280px;
	background-color: #FAF6E1;
}
#appTitle{
	color: #00f7ff;
	font-size: 38px;
	padding: 0;
	margin: 0;

	text-shadow: hsl(0,0%,24%) 1px 1px, hsl(0,0%,24%) 2px 2px, hsl(0,0%,24%) 3px 3px;
}

.esriAttributeInspector{
  margin:0px auto;
  width: 300px;
}
#bearpantherImage{	
	height: 200px;
	padding-top: 10px;
}



      
      

      .esriAttributeInspector .dijitTextBox { width:10em;}
      .esriAttributeInspector .atiLayerName {display:none;}
      .esriAttributeInspector .atiLabel { font-weight:bold; color:#705B35; }
      .esriAttributeInspector .atiField { background:#FFF6D9; }  
      .esriAttributeInspector .atiButtons{ color:#705B35;}
      .saveButton {
        padding-left:45px;
         margin:0px;width:16px; height:16px;
       }